/* google font start */

.quicksand-ttt{
  font-family: "Quicksand", serif;
  margin: 0;
}

.screen{
  max-width: 1140px;
  margin: 0 auto;
}
/* header section */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

}

.logo{
  display: flex;
  gap: 15px;
  align-items: center;
}

.navmanu{
  display: flex;
  gap: 32px;
  margin: 0px;
  padding: 0px;
}

.navmanu li{
  list-style: none;
}

.navmanu li a{
  text-decoration: none;
}

.logotext{
  font-weight: 700;
  font-size: 32px;
}

.home{
  font-size: 20px;
  font-weight: 700;
  color: orange;
}

.manulist1{
  font-size: 20px;
  font-weight: 500;
  color: #01ACFD;
}

.manulist2{
  font-size: 20px;
  font-weight: 500;
  color: #05D4DF;
}

.manulist3{
  font-size: 20px;
  font-weight: 500;
  color: #5D58EF;
}

.navbtn{
  font-size: 20px;
  font-weight: 600;
  background-color: orange;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* checkbtn */

  .checkbtn{
    cursor: pointer;
    display: none;
    font-size: 40px;
  }

  #check{
    display: none;
  }


/* header section */

/* header section media query */
@media screen and (max-width:576px){
  .checkbtn{
    display: block;
    padding-top: 10px;
  }
  .logotext{
    display: none;
  }

  .header{
    padding: 12px 16px;
    width: auto;
    border: 1px solid orange;
  }
  .navmanu, .navbtn{
    display: none;
  }

}


/* hero section start */

  .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .block{
    display: block;
  }
  
  .herotext{
    margin: 0px;
    font-size: 52px;
    font-weight: 700;
  }

  .orenge{
    color: orange;
  }
  .herobtn{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .skyblu{
    color: #01ACFD;
  }
  .description{
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
  }

  /* hero section media query */
@media screen and (max-width:576px){
  .hero{
    flex-direction: column-reverse;
    /* margin: 20px; */
    /* padding: 20px; */
  }
  .hero-t{
    text-align: center;

  }
  .herotext{
    font-size: 32px;
    font-weight: 700;
  }
  .description{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    margin: 0;
  }
  .heropic{
    width: 500px;
  }

}

/* hero section end */

/* cart section start*/

.container{
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  background-position: center;
}

.title{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px 0 40px 0px;
  font-size: 26px;
  font-weight: 700;

}

.cartgrup{
  display: flex;
  gap: 28px;
  text-align: center;
  
}

.cartdiv{
  text-align: center;
  padding: 40px;
  border: 1px solid #DEF5FF;
  background-image: linear-gradient(#DEF5FF, #def5ff73, white, white);
  border-radius: 18px;
  max-width: 367.8px;
}

.cartdiv2{
  text-align: center;
  padding: 40px;
  border: 1px solid #FFF4DC;
  background-image: linear-gradient(#FFF4DC, #fff4dc81, white, white);
  border-radius: 18px;
  max-width: 367.8px;
}

.cartdiv3{
  text-align: center;
  padding: 40px;
  border: 1px solid #F2E8FF;
  background-image: linear-gradient(#F2E8FF, #f2e8ff80, white, white);
  border-radius: 18px;
  max-width: 367.8px;
}

.carttitle{
  font-size: 24px;
  font-weight: 700;
}

.cartdes{
  font-size: 15px;
  font-weight: 500;
}

.cartbtn{
  color: #64C8FF;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.cartbtn2{
  color: #F0AA00;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.cartbtn3{
  color: #8700FF;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width:576px){
  .title{
    font-size: 26px;
    font-weight: 700;
  }
  .cartgrup{
    flex-direction: column;
  }
  .cartdiv, .cartdiv2, .cartdiv3{
    width: 249px;
    margin: 0 auto;

  }

  .carttitle{
    font-size: 16px;
    font-weight: 700;
  }

  .cartimg{
    width: 90px;
  }

  .cartdes{
    font-size: 11px;
    font-weight: 500;
  }

  .arow{
    display: none;
  }
  
  .carttitle{
    font-size: 25px;
    font-weight: 700;
  }
}

/* cart section end*/

/* arow */
.arow{
  text-align: center;
  margin-bottom: 60px;
}
.arowbtn{
  font-size: 50px;
  color: orange;
}

/* Our Stories start */
.stories-group{
  display: flex;
  gap: 18px;
  margin: 0, auto;
  margin: 20px 0 20px 0;
}

.Stories-div{
  background-image: url("../img/bg.png"),linear-gradient(#ffffff, #fea10115, #fea10123, #fea10157);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: 80px; */
  padding: 50px;
  /* width: auto; */
  margin: auto;
  
}
.storybtn1{
  text-align: center;
}
.storybtn{
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 61px 10px 61px;
  border-radius: 12px;
  margin: 20px 0 10px 0;
  
}

.date{
  position: absolute;
  z-index: 9999;
  top: 287px;
  background-color: #3CD8E8;
  border-radius: 47px;
  padding: 15px 25px;
  margin-left: 38px;
  color: #ffffff;
}

.storyheading{
  font-size: 24px;
  font-weight: 700;
  margin: 61px 50px 47px 38px;
}

.story-des{
  margin: 0px 68px 34px 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #666666;
}

.date-text{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.storyimg{
  width: 500px;
  border-radius: 16px 16px 0 0 ;
}

.Stories-title{
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.storiescart{
  border-radius: 16px;
  background-color: white;
  width: 500px;
  position: relative;
  padding-bottom: 20px;
  margin-left: 115px;
  height: 630px;

}

/* story 2nd row */

.date-1{
  position: absolute;
  z-index: 9999;
  top: 157px;
  background-color: #95B226;
  border-radius: 47px;
  padding: 9px 17px;
  margin-left: 38px;
  color: #ffffff;
}
.date-2{
  position: absolute;
  z-index: 9999;
  top: 157px;
  background-color: #5D58F0;
  border-radius: 47px;
  padding: 9px 17px;
  margin-left: 38px;
  color: #ffffff;
}
.date-text-2{
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
.story-des{
  margin: 0px 68px 34px 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #666666;
}

.Stories-title2{
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 43px 0px 33px 0px;
} 
.storyheading2{
  font-size: 15px;
  font-weight: 700;
  margin: 43px 54px 33px 37px;
}

.storyimg-2{
  border-radius: 16px 16px 0 0 ;
  height: 177px;
  width: 291px;
}

.storiescart-2{
  border-radius: 16px;
  background-color: white;
  width: 290px;
  height: 301px;
  position: relative;
  padding-bottom: 20px;
}


.storiescart2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media screen and (max-width:576px){
  .storiescart{
    display: none;
  }
  .Stories-div{
    padding: 15px;
  }
  .storyimg-2{
    width: 250px;
  }
  .storiescart-2{
    width: 250px;
  } 
  .storiescart2{
    margin: 0 16px 16px 0px;
  }
}
/* Our Stories end */

.bgcolor{
  background-color: #01ACFD;
}