/* google font start */

.quicksand-ttt{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  max-width: 1140px;
  margin: 0 auto;
}
/* google font start */

/* All font size */


/* All font size */


/* header section */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo{
  display: flex;
  gap: 15px;
  align-items: center;
}

.navmanu{
  display: flex;
  gap: 32px;
  margin: 0px;
  padding: 0px;
}

.navmanu li{
  list-style: none;
}

.navmanu li a{
  text-decoration: none;
}

.logotext{
  font-weight: 700;
  font-size: 32px;
}

.home{
  font-size: 20px;
  font-weight: 700;
  color: orange;
}

.manulist1{
  font-size: 20px;
  font-weight: 500;
  color: #01ACFD;
}

.manulist2{
  font-size: 20px;
  font-weight: 500;
  color: #05D4DF;
}

.manulist3{
  font-size: 20px;
  font-weight: 500;
  color: #5D58EF;
}

.navbtn{
  font-size: 20px;
  font-weight: 600;
  background-color: orange;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* checkbtn */

  .checkbtn{
    cursor: pointer;
    display: none;
    font-size: 40px;
  }

  #check{
    display: none;
  }


/* header section */

/* header section media query */
@media screen and (max-width:576px){
  .checkbtn{
    display: block;
  }
  .logotext{
    display: none;
  }

  .header{
    padding: 12px 16px;
    width: auto;
    border: 1px solid orange;
  }
  .navmanu, .navbtn{
    display: none;
  }

}


/* hero section start */

  .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .block{
    display: block;
  }
  
  .herotext{
    margin: 0px;
    font-size: 52px;
    font-weight: 700;
  }

  .orenge{
    color: orange;
  }
  
  .skyblu{
    color: #01ACFD;
  }
  .description{
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
  }

  /* header section media query */
@media screen and (max-width:576px){
  .hero{
    flex-direction: column;
    margin-top: 0px;
  }
  .hero-t{
    text-align: center;
    font-size: 32px;
  }
  .heroimg{
    flex-direction: row;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }
}

/* hero section end */

/* cart section start*/

.container{
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  background-position: center;
}

.title{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 46px;
  font-weight: 700;

}

.cartgrup{
  display: flex;
  gap: 28px;
  text-align: center;
  
}

.cartdiv{
  text-align: center;
  padding: 40px;
  border: 1px solid #DEF5FF;
  background-image: linear-gradient(#DEF5FF, white, white, white);
  border-radius: 18px;
  max-width: 360px;
}

.cartdiv2{
  text-align: center;
  padding: 40px;
  border: 1px solid #FFF4DC;
  background-image: linear-gradient(#FFF4DC, white, white, white);
  border-radius: 18px;
  max-width: 360px;
}

.cartdiv3{
  text-align: center;
  padding: 40px;
  border: 1px solid #F2E8FF;
  background-image: linear-gradient(#F2E8FF, white, white, white);
  border-radius: 18px;
  max-width: 360px;
}

.carttitle{
  font-size: 24px;
  font-weight: 700;
}

.cartdes{
  font-size: 15px;
  font-weight: 500;
}

.cartbtn{
  color: #64C8FF;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.cartbtn2{
  color: #F0AA00;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.cartbtn3{
  color: #8700FF;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width:576px){
  .cartgrup{
    flex-direction: column;
    margin: auto;
  }
  .cartgrup, .cartgrup2 .cartgrup3{
    max-width: 350px;
  }

  .carttitle{
    font-size: 15px;
    font-weight: 700;
  }

  .cartimg{
    width: 90px;
  }

  .cartdes{
    font-size: 9px;
    font-weight: 500;
  }

  .arow{
    display: none;
  }
  
  .carttitle{
    font-size: 25px;
    font-weight: 700;
  }
}

/* cart section end*/

/* arow */
.arow{
  text-align: center;
  margin-bottom: 60px;
}
.arowbtn{
  font-size: 50px;
  color: orange;
}

/* Our Stories start */
.stories-group{
  display: flex;
  gap: 18px;
}

.Stories-div{
  background-image: url("../img/bg.png"),linear-gradient(#ffffff, #fea10115, #fea10123, #fea10157);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  padding: 50px;
  
}
.storybtn1{
  text-align: center;
}
.storybtn{
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 61px 10px 61px;
  border-radius: 12px;
  margin: 80px 0 10px 0;
  
}

.date{
  position: absolute;
  z-index: 9999;
  top: 287px;
  background-color: #3CD8E8;
  border-radius: 47px;
  padding: 15px 25px;
  margin-left: 38px;
  color: #ffffff;
}

.storyheading{
  font-size: 24px;
  font-weight: 700;
  margin: 61px 50px 47px 38px;
}

.story-des{
  margin: 0px 68px 34px 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #666666;
}



.date-text{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.storyimg{
  width: 500px;
  border-radius: 16px 16px 0 0 ;
}

.Stories-title{
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 80px;
}

.storiescart{
  border-radius: 16px;
  background-color: white;
  width: 500px;
  position: relative;
  padding-bottom: 20px;
}

/* story 2nd row */

.date-2{
  position: absolute;
  z-index: 9999;
  top: 157px;
  background-color: #95B226;
  border-radius: 47px;
  padding: 9px 17px;
  margin-left: 38px;
  color: #ffffff;
}

.date-text-2{
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}



.story-des{
  margin: 0px 68px 34px 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #666666;
}




.storyimg-2{
  border-radius: 16px 16px 0 0 ;
  height: 177px;
  width: 250px;
}

/* .Stories-title2{
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 43px 0px 33px 0px;
} */
.storyheading2{
  font-size: 15px;
  font-weight: 700;
  margin: 43px 54px 33px 37px;
}
.storiescart-2{
  border-radius: 16px;
  background-color: white;
  width: 250px;
  position: relative;
  padding-bottom: 20px;
}


.storiescart2{
  display: grid;
  grid:  auto/ auto  auto;
  gap: 15px;
}

/* Our Stories end */